<div class="container">
    <a class='image-preview' href="{{url}}"><img src="{{url}}" data-tooltip="{{contentTitle}}" data-tooltip-position="top center"></a>
</div>
<div class="buttons">
        <a class="cancel button" href="#">Close</a>
        <a class="submit button positive" download="{{download}}" href="{{url}}">Download</a>
</div>