<span class="msg-entity person has-hover-profile no-focus" data-userid="{{id}}" data-usertype="{{userType}}">
    {{#if prettyName}}
    @{{prettyName}}
    {{else}}
    @{{screenName}}
    {{/if}}
</span>