<a class="msg-entity link {{#if canPreviewContent}}content-preview{{/if}}" target="_blank" href="{{expandedUrl}}" data-tooltip="{{expandedUrl}}"
   data-tooltip-position="top center">
    <span class="invisible-text">{{prefix}}</span><span>{{text}}</span>{{#if suffix}}<span class="invisible-text">{{suffix}}</span>{{/if}}
    {{#if ellipsis}}<span class="ellipis-no-select">{{ellipsis}}</span>{{/if}}
</a>