<span class="msg-entity person has-hover-profile" data-userid="{{id}}" data-usertype="{{userType}}">
    {{#if prettyName}}
        {{prettyName}}
    {{else}} {{#if screenName}}
        {{screenName}}
    {{else}} someone {{/if}}
    {{/if}}
</span>