<li data-streamid="{{_id}}" data-module="{{moduleName}}" class="navlink" title="{{name}}">
    <a title="{{name}}" href="#" class="{{icon name}}">
        <span class="nav-view-badge hide-badge">0</span>
        <div class="nav-view-name">{{name}}</div>
    </a>
</li>
